* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1.125rem;
  background-color: pink;
  color: #707070;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;

  .nav-block {
    background-color: #fe2d2d;
    padding: .15em;
  }

  .title {
    font-family: Corbel;
    text-align: center;

    & > span {
      font-size: 2rem;
      color: #ac9259;
      text-decoration: underline;
    }
  }

  nav {
    .nav-list {
      display: flex;
      justify-content: center;
      margin: 0 0 1em 0;

      .list-item {
        margin: 0 1em;

        & > a:hover {
          border-bottom: 2px solid magenta;
        }
      }
    }
  }

  h1 {
    text-align: center;
    color: #212614;

    span {
      color: #b7832f;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: .2em;
  }

  .columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em auto;

    .sm-col {
      width: 20%;
    }

    .m-col {
      width: 30%;
      padding: 1em;
      color: #ffffff;
      background-color: #000000;
    }

    .big-col {
      width: 45%;
    }

    @media all and (max-width: 600px) {
      .big-col,
      .m-col,
      .sm-col {
        width: 100%;
      }
    }
  }

  @media (max-width: 600px) {
    .columns {
      flex-direction: column;
      align-items: center;

      .column {
        margin: 1em;
      }
    }
  }
}
